<hr>
<h1 class="text-center">
    {{ book.nombre }}
</h1>
<hr>
<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
<h2 class="text-center"><small>{{ book.autor }}</small></h2>
<div class="row no-gutters contenido">
    <div class="col-md-3">
        <img [src]="book.imagen" [alt]="book.nombre"
        class="img-fluid rounded mx-auto d-block bookimg" />
    </div>
    <div class="col-md-9">
        <p>
            {{ book.descripcion }}
        </p>
        <h4>Categorias</h4>
        <hr>
        <ul *ngFor="let categoria of book.categorias">
            <li>
                <a [routerLink]="['/Search', categoria]">{{ categoria }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" *ngIf="loggedIn()">
    <div class="col-md-4">
        <button (click)="goBack()" class="btn btn-secondary boton btn-block">Volver</button>
    </div>
    <div class="col-md-4">
        <button [routerLink]="['/EditBook', book._id]" class="btn btn-warning btn-block boton">Editar</button>
    </div>
    <div class="col-md-4">
        <button (click)="delete()" class="btn btn-danger btn-block boton">Eliminar</button>
    </div>
</div>